.recipe-img-wrapper {
    position: relative;
    height: 350px;
    width: 300px;
  }
  
  .recipe-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  }
  
  .subtitle-wrapper {
    position: absolute;
    top: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    width: 100%;
   }
  
 .subtitle {
    position: absolute;
    transition: 1s;
    font-weight: 600;
    color: transparent;
    width: 100%;
  }

  .subtitle-wrapper:hover .subtitle {
      font-weight: 600;
      color: lightseagreen;
  }

  .img-darken {
    transition: 1s;
    filter: brightness(10%);
    
  }

