/* GENERAL ELEMENTS */
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #eafbea;
  font-family: Raleway, sans-serif;
}

h1 {
  font-family: "Josefin Sans";
}

/* NAVBAR */


.nav-item, .navbar-brand {
  font-size: 1.5rem;
}

.social .fbtn {
  width: 50px;
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 18px;
  /* float: left; */
}
.social .fa {
  padding: 15px 0px
}
.facebook {
  background-color: #3b5998;
}
.gplus {
  background-color: #dd4b39;
}
.twitter {
  background-color: #55acee;
}
.stumbleupon {
  background-color: #eb4924;
}
.pinterest {
  background-color: #cc2127;
}
.linkedin {
  background-color: #0077b5;
}
.buffer {
  background-color: #323b43;
}
.share-button.sharer {
  height: 20px;
  padding: 100px;
}
.share-button.sharer .social.active.top {
  transform: scale(1) translateY(-10px);
}
.share-button.sharer .social.active {
  opacity: 1;
  transition: all 0.4s ease 0s;
  visibility: visible;
}
.share-button.sharer .social.networks-5 .share-button.sharer .social.top {
  margin-top: -80px;
  transform-origin: 0 0 0;
}
.share-button.sharer .social {
  margin-left: -65px;
  opacity: 0;
  transition: all 0.4s ease 0s;
  visibility: hidden;
}


/* MAIN PAGE */

/* General */

/* Pasta Selection */

.btn-pasta-select {
  font-size: 1.5rem;
  text-align: center;
}

.btn-pasta-select:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #ea5e5e;
}

.hr-gallery {
  width: 50rem;
  margin: 1rem auto;
}

.btn-pasta-selected {
  color: #ea5e5e;
}

/* Cards */
.gallery-row {
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-container {
  max-width: 960px;
  margin: 2rem;
}

.card-gallery {
  width: 18rem;
  height: 18rem;
  margin: 1rem;
  padding: 0;
  background-color: #6f9a8d;
  color: white;
  box-shadow: 3px 3px 5px #6f9a8d;
}

.card-gallery:hover {
  transform: scale(1.1);
  transition: all 0.1s;
  box-shadow: 3px 3px 10px #6f9a8d;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #1f6650;
}

.card-body {
  position: absolute;
  bottom: 0;
  background-color: rgba(31, 102, 80, 0.6);
  width: 100%;
  min-height: 25%;
  padding: 0.5rem; 
}

.card-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

/* Card Icons */

.star-background {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  background-color: #fff;
  border-radius: 0 0 1rem 0;
  border-right: 3px solid #1f6650;
  border-bottom: 3px solid #1f6650;
}

.star-fill {
  position: absolute;
  top: 0.55rem;
  left: 0.55rem;
  color: #ea5e5e;
}

.star-no-fill {
  position: absolute;
  top: 0.55rem;
  left: 0.55rem;
  color: #ea5e5e;
}

/* Gallery Buttons */

.btn-gallery {
  color: #1f6650;
}

.btn-gallery:hover {
  cursor: pointer;
}

#btn-cards-left {
  text-align: right;
}

/* Gallery Animation */

@keyframes card0 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes card1 {
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
}

@keyframes card2 {
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* GALLERY MEDIA QUERIES */
/* breakpoints following Bootstrap */

@media (min-width: 768px) and (max-width: 960px) {

}


@media (max-width:768px) and (min-width:576px) {
  html {
    font-size: 58%;
  }
  .card-gallery {
    height: 14rem;
    width: 14rem;
  }
}

@media (max-width: 576px) {
  #card2 {
    visibility: hidden;
    position: absolute;
  }
  html {
    font-size: 53%;
  }
  .card-gallery {
    width: 12rem;
    height: 15rem;
  }

}


/* Recipes */

#recipe {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------------------- FOOTER -------------------------------------------*/

.entire-footer {
  padding: 2rem;
  max-height: 25rem;
  background-color: #6f9a8d;
}

.footer-question {
  text-align: center;
  padding-bottom: 2rem;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.first-footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.second-footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.third-footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.stay-in-touch {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#email {
  border: 0.2rem dotted #eafbea;
  min-width: 15rem;
  padding: 1rem;
  background-color: transparent;
}

.d-flex {
  max-height: 3rem;
}

/*
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: left;
}
*/

/*
.form-inline input {
  vertical-align: middle;
  /*margin: 5px 10px 5px 0;
}
*/

.terms-conditions-copyright {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.terms-conditions {
  display: inline-flex;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: #1f6650;
}

a:hover {
  text-decoration: none;
  color: #eafbea;
}

.terms-conditions a {
  padding-right: 3rem;
}

.copyright {
  display: inline-flex;
}
